*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #011b13;
    color: aliceblue;
    text-align: center; 
    font-size: 5vmin; 
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #011b13, 0 0 20px #011b13, 0 0 25px #011b13, 0 0 30px #011b13, 0 0 35px #011b13;
}
.container{
    margin-top: 10vmin;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes-container{
    height: 75vmin;
    width: 75vmin;
    display: flex;
    justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid blue; */
     gap: 1rem; 
}
.boxes{
    height: 21vmin;
    width: 21vmin;
    border-radius: 2vmin;
    background-color: #38b789;
    font-size: 11vmin;
    color: #011b13;
    box-shadow: 0 0 15px rgba(108, 253, 205, 0.7), 0 0 21px rgba(2, 27, 19, 0.7),
    0 0 31px #011b13;
    text-shadow: 0 0 5px #fff, 0 0 10px  #011b13, 0 0 15px #011b13, 0 0 20px #011b13, 0 0 25px #011b13, 0 0 30px #011b13, 0 0 35px #011b13;
    
}
.reset-btn{
    display: flex;
    justify-content: center;
  align-items: center;  
  background-color: #011b13;
   
}  
.reset-game{
    margin-top: 10vmin;
    padding: 2vmin;
    border-radius: 2vmin;
    background-color: darkgray;
    font-size: 5vmin;
    color: #011b13;
    border: none;
    box-shadow: 0 0 11px rgba(175, 175, 175, 0.7), 0 0 0px rgba(175, 175, 175, 0.7),
    0 0 31px rgba(175, 175, 175, 0.7);
    text-shadow: 0 0 5px #fff, 0 0  0px  #011b13, 0 0 0px #011b13, 0 0 0px #011b13, 0 0 25px #011b13, 0 0 30px #011b13, 0 0 35px #011b13;

} 
#msg{
    font-size: 10vmin;
}
.hide{
    display: none;
}
.new-btn{
    margin-top: 2vmin;
    padding: 2vmin;
    border-radius: 2vmin;
    background-color: darkgray;
    font-size: 5vmin;
    color: #011b13;
    border: none;
    box-shadow: 0 0 11px rgba(175, 175, 175, 0.7), 0 0 0px rgba(175, 175, 175, 0.7),
    0 0 31px rgba(175, 175, 175, 0.7);
    text-shadow: 0 0 5px #fff, 0 0  0px  #011b13, 0 0 0px #011b13, 0 0 0px #011b13, 0 0 25px #011b13, 0 0 30px #011b13, 0 0 35px #011b13;
}



@media(max-width: 531px){
.boxes-container{
    gap: 0.5rem;
}
.reset-game{
    margin-top: 7vmin;
}
}
@media(max-width: 481px){
.reset-game{
        margin-top: 5vmin;
}
}
@media(max-width: 321px){
  .reset-game{
   margin-top: 2vmin;
}
}